
 .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}


.bubbles li {
    list-style: none;
    display: block; 
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear; 

    border-radius: 50%;
    background:#3f2323;
    box-shadow: inset 0 0 15px 1px white;
    position: absolute;
    bottom: -60px;
    left: 300px;
}


@-webkit-keyframes circle {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-1080px) rotate(630deg);
        transform: translateY(-1080px) rotate(630deg);
    }
} 
