

body {
  background-image: url("https://media3.giphy.com/media/pHYLxGVWf4J4DmS6k6/giphy.gif");
  background-size: cover; 
  height: 100vh; 
  overflow-y:hidden;
  overflow-x:hidden;
  /* cursor: url('../assets/target.png'), pointer; */
}


#h2 {
  margin: center;
  line-height: 200px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: monospace; 
  text-align: center;
  font-size: 20px; 
  bottom: 25%
}



#timer_div {
  position: absolute; 
  top: 4%; 
  right: 0;
  background-color: #ffff; 
  border: 1px solid #0b0e07;
  border-radius: 4px;
  color: black;
  font-family: Arial;
  padding: 10px 22px; 
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  z-index: 4; 
  margin-right: 40px;
}


#score{
  position: absolute; 
  top: 4%; 
  left: 4%;
  background-color: #ffff; 
  border: 1px solid #0b0e07;
  border-radius: 4px;
  padding: 10px 22px; 
  font-family: Arial;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  z-index: 4; 
  margin-right: 40px;
}


#showName{
  position: absolute; 
  width: 100%;
  top: 150%; 
  left: 0%;
  background-color: #ffff; 
  border: 1px solid #0b0e07;
  border-radius: 4px;
  font-family: Arial;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin-right: 20px;
  display: inline-block;
  height: auto;
}

#corgi {
  max-width: 50%;
  height: auto;
  position: absolute; 
  bottom: 0%;
  left: 58%; 
  z-index: 4; 
}



.animate {
  -webkit-animation: circle 20s infinite;
  animation: circle 20s infinite;
}




