.logo {
  font-family: monospace;
  text-align: center;
  width: 66%;
  height: 50px;
  margin: auto;
  position: absolute;
  top: 2%;
  left: 17%;
  user-select: none;
  z-index: -1
}

.logo b{
  font-size: 80px; 
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em hsl(27, 80%, 45%), 0 0 0.5em hsl(27, 80%, 45%), 0 0 0.1em hsl(27, 80%, 45%), 0 10px 3px rgb(92, 63, 39);
}

.logo b span{
  animation: blink linear infinite 2s;
}

.logo b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: rgb(92, 63, 39);
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color:  rgb(92, 63, 39);
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color:  rgb(146, 56, 101);
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
